.thoughts {
  list-style-type: none;
  padding: 0;
}

.Thought {
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8b14ed;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
}

.Thought .remove-button {
  font-size: 32px;
  border: 0;
  background: transparent;
  color: #fff;
}
